/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: ]

}

@media screen and (min-width: 670px) {
  
}

@media screen and (min-width: 1000px) {

}

header {
  position: relative;
  height: 80px;
}

input {
  padding-left: 30px;
  width: 460px;
  height: 50px;
}

.top-logo {
  font-size: 40px;
  position: relative;
  left: 20px;
  top: 10px;
}

.logo {
  font-size: 25px;
  position: relative;
  left: 35px;
}

.header-left {
  position: relative;
  top: 10px;
  left: 20px;
}

.header-right {
  position: absolute;
  right: 0;
  top: 30px;
}

.header-right ul {
  display: flex;
}

.header-right ul li {
  padding-right: 10px;
}

.header-right ul li a {
  color: #000;
}

.header-list {
  font-size: 14px;
  font-weight: 600;
  margin-right: 30px;
}

.last-child {
  margin-right: 0;
}

.caution {
  position: fixed;
  background-color: #C2E4E7;
  text-align: center;
  width: 100%;
}

.caution-text {
  line-height: 50px;
  font-size: 14px;
  font-weight: 400;
}

.close {
  line-height: 50px;
}

.main {
  background-image: url(https://a0.muscache.com/airbnb/gift_credit_v2/HomePage/BackgroundHomeSummer.jpg);
  height: 550px;
  background-size: cover;
  background-position: center;
}

.container {
  text-align: left;
  padding: 160px 40px 200px 160px;
  margin: 0;
}

.main-text h2 {
  font-size: 46px;
  color: white;
  font-weight: 800;
  font-style: normal;
  margin-bottom: 20px;
}

.main-text p {
  font-size: 18px;
  color: white;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 40px;
}

.main-text span a {
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  color: #000;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
}

.present {
  height: 340px;
  background-color: #fff;
  text-align: center;
  padding-left: 160px;
  padding-right: 160px;
}

.present-text {
  padding: 50px 0;
}

.mail {
  font-size: 50px;
  color: blue;
  padding-bottom: 30px;
}

.heading p {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  color: #484848;
  padding-bottom: 30px;
}

.present-text h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  color: #484848;
}

.text p {
  font-size: 16px;
  font-weight: 400;
  color: #484848;
}

.about-container {
  padding: 50px 0 50px 0;
}

.about-text {
  color: #fff;
}

.about-text h2 {
  font-size: 32px;
  margin-bottom: 12px;
}

.about-singup span a {
  background-color: #FF5A5F;
  padding: 7px 25px;
  color: white;
  border-radius: 5px
}

.about-text p {
  font-size: 20px;
}

.about-icon {
  font-size: 100px;
  margin-bottom: 20px;
}

.about {
  background-color: #007A87;
  text-align: center;
}

#signup-btn {
  color: white;
  opacity: 0.4;
  font-size: 14px;
}

.contact-form {
  height: 250px;
  padding-top: 50px;
  text-align: left;
  margin-left: 150px;
}

.link a {
  display: block;
  color: #484848;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #767676;
}

.title {
  margin-bottom: 20px;
}

.row {

}

footer {
  margin-bottom: 50px;
  margin-left: 140px;
  margin-right: 150px;
  position: relative;
  border-top: 1px solid #767676;
  padding-top: 30px;
}

.footer-left {
  display: flex;
}

.footer-left a {
  font-size: 14px;
  font-weight: 600;
  color: #767676;
}

.footer-right {
  position: absolute;
  right: 0;
  bottom: 10px;
}

button {
  border: 1px solid #767676;
  color: #767676;
}
